:root {
	--firstclr: #92e8a7;
	--secondclr: #a1ffd1;
	--thirdclr: #aeffad;
	--fourthclr: #afe892;
	--fifthclr: #deffa1;
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
a {
	text-decoration: none;
}

.bg {
	animation: slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #6c3 50%, #deffa1 50%);
	bottom: 0;
	left: -50%;
	opacity: 0.5;
	position: fixed;
	right: -50%;
	top: 0;
	z-index: -1;
}

.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
}

.bg3 {
	animation-duration: 5s;
}

.content {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.25em;
	box-shadow: 5px 20px 50px #000;

	left: 50%;
	top: 50%;
	padding: 5vmin;
	position: fixed;
	text-align: center;
	transform: translate(-50%, -50%);
}
.question {
	font-size: 10px;
}
.answear {
	margin-top: 10px;
}

h1 {
	font-family: monospace;
	margin-bottom: 50px;
}

.button {
	font-family: 'Bungee', cursive;
	font-size: 1.2rem;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	background: #1e7c16;
	border: 2px solid var(--thirdclr);
	padding: 30px 60px;
	border-radius: 45px;
	color: white;
	overflow: hidden;
	box-shadow: 0 2px 4px darkgray;
	transition: all 0.2s ease-in;
	z-index: 1;
}
.hp {
	margin-top: 20px;
}
.button:hover {
	background: #6c3;
}

.answear:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@keyframes slide {
	0% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}
