@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-image: linear-gradient(-605deg, #deffa1 50%, #6c3 50%);
	font-family: 'Montserrat', sans-serif;
}

.nav {
	position: relative;
	height: 65px;
	background: none;
}
.main-container-quiz2 {
	border: 3px solid rgb(2, 2, 2);
	border-radius: 15px;
	box-shadow: 5px 20px 80px #333;
}

h2 {
	font-size: 4.2rem;
	margin-bottom: 4rem;
	font-weight: 700;
}
.main-container-container {
	padding: 100px;
}

.container {
	width: 75vw;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	margin: auto;
}
.container-score-question {
	display: block;
	margin: 0 auto;
	color: rgba(66, 70, 83, 0.747);
}

.question {
	/* background: linear-gradient(120deg#deffa1 10%, #6c3 25%); */
	color: rgb(87, 80, 80);
	border-radius: 15px;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
.justify-center {
	justify-content: center;
}
.text-center {
	text-align: center;
}
.hidden {
	display: none;
}

.choice-container {
	display: flex;
	margin-bottom: 0.5rem;
	width: 100%;
	border-radius: 15px;
	overflow: hidden;
	font-size: 1.8rem;
	border: 0.1rem solid rgba(61, 150, 9, 0.301);
	background: #fff;
	transition: 0.3s ease-in-out;
}
.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 9 rgba(61, 150, 9, 0.301);
	transform: translateY(-0.1rem);

	background-color: rgba(188, 190, 184, 0.747);
}
.choice-prefix {
	padding: 1.5rem 2.5rem;
	background-color: #0b9216a4;
	color: #fff;
}
.choice-text {
	padding: 1.3rem;
	width: 100%;
}
.choice-text:hover {
	background-color: rgba(188, 190, 184, 0.747);
}
.false:active {
	background-color: rgb(204, 65, 65);
}
.answerCorrect:active {
	background-color: rgb(27, 136, 42);
}
.btn-next {
	position: relative;
	display: block;
	width: 56%;
	height: 50px;
	margin: 15px auto;
	background: #1e7c16;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	border: 3px solid #1e7c16;
	transition: background-color 0.3s, color 0.3s;
	border-radius: 5px;
	transition: 0.2s ease-in;
	cursor: pointer;
}
.btn-next:hover {
	background-color: #6c3;
	color: rgb(233, 225, 225);
}

/* WYNIK */
.main-container-quiz1 {
	position: relative;
	border: 4px solid black;
	height: 450px;
	width: 450px;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: 5px 20px 80px #333;
}

.container-title,
.container-score {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	padding: 15px;
	font-size: 24px;
	font-weight: bold;
}
.container-quiz-btn {
	margin-top: 100px;
}
.container-text {
	display: flex;
	justify-content: center;
	height: 50px;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
}
h3 {
	font-size: 34px;
	color: rgb(72, 109, 53);
}
