.main-container-createGame {
	padding: 70px;
}

.container-img-createGame {
	position: relative;
	/* height: 150px; */
	width: 400px;
	text-align: center;
	margin: 0 auto;
	padding: 2.7rem;
}

#createGame-form {
	display: block;
	text-align: center;
	font-weight: bold;
	margin: 25px;
	font-size: 18px;
}

.container-context-createGame {
	position: relative;
	/* border: 3px solid red; */
	height: 400px;
}

.container-context-createGame #game-category-id,
#game-quantity-id,
#game-time-id {
	text-align: center;
	margin: 10px;
}
.btn-createGame-confirm {
	display: block;
	width: 220px;
	height: 50px;
	margin: 50px auto;
	background: #1e7c16;
	color: #fff;
	font-size: 1em;
	/* font-weight: bold; */
	border: 3px solid #1e7c16;
	border-radius: 8px;
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}

/* SELECT   */

.createGame-box {
	margin: 10px;
}

.createGame-box select {
	background-color: hwb(133 4% 41%);
	color: white;
	padding: 8px;
	width: 200px;
	border: none;
	font-size: 15px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
	border-radius: 15px;
}

.createGame-box:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
}

.createGame-box select option {
	padding: 30px;
}
/* btn-close-CreateGame */
.btn-createGame-close {
	display: block;
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	left: 85%;
	top: 4%;
	background: transparent;
	color: #0a8d10;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
}

.btn-createGame-close:focus {
	outline: solid 0 transparent;
	box-shadow: 0 0 0 2px #8ed0f9;
}

.btn-createGame-close:hover {
	background: rgba(7, 145, 19, 0.1);
}

.btn-createGame-close:before,
.btn-createGame-close:after {
	position: absolute;
	top: 13%;
	left: calc(50% - 0.0625em);
	width: 0.125em;
	height: 70%;
	border-radius: 0.125em;
	transform: rotate(45deg);
	background: currentcolor;
	content: '';
}

.btn-createGame-close:after {
	transform: rotate(-45deg);
}
