.container-creator-menu {
	position: relative;
	border: 2px solid black;
	height: 750px;
	width: 750px;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: 5px 20px 80px #333;
}
.container-creator-context {
	position: relative;
	height: 550px;
	display: block;
	text-align: center;
}
.container-creator-context label {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}
.container-menu-create_game {
	position: relative;
	border: 2px solid black;
	height: 650px;
	width: 450px;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: 5px 20px 80px #333;
}
.container-title {
	width: 400px;
	margin: 0 auto;
	color: rgb(0, 0, 0);
}
.container-main-creator {
	padding: 70px;
}

textarea {
	width: 60%;
	/* height: 50px; */
	padding: 12px 20px;
	box-sizing: border-box;
	border: 3px solid rgb(182, 179, 179);
	border-radius: 15px;
	background-color: #deffa1;
	font-size: 16px;
	resize: none;
	overflow: auto;
}
.textarea-question {
	height: 70px;
}
.textarea-answer {
	height: 50px;
}
form label {
	padding: 5px;
	margin: 8px;
}
#category_id {
	background-color: hwb(133 4% 41%);
	color: white;
	padding: 8px;
	width: 200px;
	border: none;
	font-size: 15px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
	border-radius: 15px;
}
.btn-textarea {
	position: relative;
	margin: 0 auto;
	height: 50px;
	width: 220px;
	margin-top: 20px;
	background: #1e7c16;
	color: rgb(228, 224, 224);
	font-size: 18px;
	text-transform: uppercase;
	border: 3px solid #1e7c16;
	border-radius: 8px;
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}
.btn-textarea:hover {
	background-color: #6c3;
	color: rgb(233, 225, 225);
}
.btn-textarea > a {
	text-decoration: none;
	color: #ddd;
}

.sub {
	display: block;
}
.btn-close-create {
	display: block;
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	left: 92%;
	top: 2%;
	background: transparent;
	color: #0a8d10;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
}

.btn-close-create:focus {
	outline: solid 0 transparent;
	box-shadow: 0 0 0 2px #8ed0f9;
}

.btn-close-create:hover {
	background: rgba(7, 145, 19, 0.1);
}

.btn-close-create:before,
.btn-close-create:after {
	position: absolute;
	top: 15%;
	left: calc(50% - 0.0625em);
	width: 0.125em;
	height: 70%;
	border-radius: 0.125em;
	transform: rotate(45deg);
	background: currentcolor;
	content: '';
}

.btn-close-create:after {
	transform: rotate(-45deg);
}
